#bg-img1 {
   background-image: linear-gradient(
         to left,
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.4)
      ),
      url("../../../assets/Honorary/Deeze.png");
   background-repeat: no-repeat;
   object-fit: contain;
}
