@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: trash;
  src: url(./fonts/TrashHand.TTF);
}

@font-face {
  font-family: redunRegular;
  src: url(./fonts/Ruden-Regular.otf);
}

@font-face {
  font-family: redunBold;
  src: url(./fonts/SF-Pro-Display-Bold.otf);
}


@font-face {
  font-family: sfRequler;
  src: url(./fonts/SF-Pro-Display-Regular.otf);
}


@font-face {
  font-family: sfMedium;
  src: url(./fonts/SF-Pro-Display-Medium.otf);
}

.fontTrash {
  font-family: trash;
}

.fontRedunReg {
  font-family: redunRegular;
}

.fontRedunBold {
  font-family: redunBold;
}

.fontSfReg {
  font-family: sfRequler;
}

.fontSfMed {
  font-family: sfMedium;
}

.max-container {
  max-width: 1280px;
  margin: 0 auto;
}


.landing_btn{
  font-family: trash;
}