@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
}

@font-face {
   font-family: trash;
   src: url(./fonts/TrashHand.TTF);
}

@font-face {
   font-family: redunRegular;
   src: url(./fonts/Ruden-Regular.otf);
}

@font-face {
   font-family: redunBold;
   src: url(./fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
   font-family: sfRequler;
   src: url(./fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
   font-family: sfMedium;
   src: url(./fonts/SF-Pro-Display-Medium.otf);
}

@font-face {
   font-family: sfBold;
   src: url(./fonts/SF-Pro-Display-Bold.otf);
}

.fontTrash {
   font-family: trash;
}

.fontRedunReg {
   font-family: redunRegular;
}

.fontRedunBold {
   font-family: redunBold;
}

.fontSfReg {
   font-family: sfRequler;
}

.fontSfMed {
   font-family: sfMedium;
}

.fontSfBold {
   font-family: sfBold;
}

.max-container {
   max-width: 1280px;
   margin: 0 auto;
}

.pre-loading-bg {
   background: #c0ffff;
}

.loader {
   position: relative;
   border-radius: 12px;
   background: linear-gradient(to right, #c0ffff, #ffffff);
   animation: loader 2.8s linear;
}

@keyframes loader {
   0% {
      /* background: linear-gradient(to right, #ffffff, #c0ffff); */
      width: 0%;
      transition: all linear 0.2s;
   }

   25% {
      /* background: linear-gradient(to right, #c0ffff, #ffffff); */
      width: 25%;
      transition: all linear 0.2s;
   }

   50% {
      /* background: linear-gradient(to right, #ffffff, #c0ffff); */
      width: 50%;
      transition: all linear 0.2s;
   }

   75% {
      /* background: linear-gradient(to right, #c0ffff, #ffffff); */
      width: 75%;
      transition: all linear 0.2s;
   }

   100% {
      /* background: linear-gradient(to right, #ffffff, #c0ffff); */
      width: 100%;
      transition: all linear 0.2s;

   }
}

.box-cercel {
   background: rgb(86, 255, 255, 0.9);
}

.menu-color{
   color: rgba(255, 255, 255, 0.25);
}


.swiper,
swiper-container {
   padding: 18px !important;
}

@media (min-width: 992px) and (max-width: 1024px) {
   .slider {
      width: calc((100% - -10%));
   }

   .slider-left{
      width: 45% !important;
   }

   .slider-right {
      width: 60% !important;
   }
}

@media (min-width:1025px) and (max-width: 1170px) {
   .slider {
      width: calc((100% - -2%));
   }

   .slider-left{
      width: 45% !important;
   }

   .slider-right {
      width: 50% !important;
   }

   .slider-arrow{
      margin-left: 0px;
   }
}

@media (min-width:1170px) and (max-width: 1240px) {
   .slider {
      width: calc((100% - 0%));
   }

   .slider-left{
      width: 38% !important;
   }

   .slider-right {
      width: 50% !important;
   }
}

@media (min-width:1241px) and (max-width: 1400px) {
   .slider {
      width: calc((100% - 2%));
   }

   .slider-left{
      width: 46% !important;
      font-size: 18px !important;
   }

   .slider-right {
      width: 50% !important;
   }
}

@media (min-width:1401px) and (max-width: 1500px) {
   .slider {
      width: calc((100% - 9%));
   }

   .slider-left{
      width: 40% !important;
      font-size: 18px !important;
   }

   .slider-right {
      width: 50% !important;
   }
}

@media (min-width:1501px) and (max-width: 1600px) {
   .slider {
      width: calc((100% - 12%));
   }

   .slider-left{
      width: 45% !important;
      font-size: 20px !important;
   }

   .slider-right {
      width: 50% !important;
   }
}

@media (min-width:1601px) and (max-width: 1800px) {
   .slider {
      width: calc((100% - 14%));
   }

   .slider-left{
      width: 46% !important;
      font-size: 20px !important;
   }

   .slider-right {
      width: 50% !important;
   }
}

@media (min-width:1801px) and (max-width: 1920px) {
   .slider {
      width: calc((100% - 18%));
   }

   .slider-left{
      width: 40% !important;
      font-size: 20px !important;
   }

   .slider-right {
      width: 50% !important;
   }
}

@media (min-width:1921px) {
   .slider {
      width: calc((100% - 20%));
   }

   .slider-left{
      width: 40% !important;
      font-size: 20px !important;
   }

   .slider-right {
      width: 50% !important;
   }
}